---
layout: default
title: Publications
permalink: /publications/
---

<h2> Papers </h2>

<p class="text-muted mb-4 mt-4">Selected publications from our research.</p>

{% assign pubs_by_year = site.publications | group_by_exp: "pub", "pub.date | date: '%Y'" | sort: "name" | reverse %}

{% for year in pubs_by_year %}
  <h3>{{ year.name }}</h3>
  <ol>
    {% assign sorted_pubs = year.items | sort: "date" | reverse %}
    {% for pub in sorted_pubs %}
      <li>
        {% assign author_list = pub.authors | split: " and " -%}
        {%- if author_list.size > 5 -%}
          {%- for i in (0..4) -%}
            {{ author_list[i] }}{%- if forloop.last == false %} and {% endif -%}
          {%- endfor -%}, et al.
        {%- else -%}
          {{ pub.authors }}.
        {%- endif -%}
        {% if pub.paperurl %}
          <a href="{{ pub.paperurl }}" target="_blank"><strong>{{ pub.title }}</strong></a>.
        {% else %}
          <strong>{{ pub.title }}</strong>.
        {% endif %}
        <em>{{ pub.venue }}</em>. ({{ pub.date | date: "%Y" }}).
      </li>
    {% endfor %}
  </ol>
{% endfor %}