{% assign project = include.project %}

{% if project.link %}
{% assign proj-url = project.link %}
{% else %}
{% capture proj-url %}{{site.baseurl}}{{project.url}}{% endcapture %}
{% endif %}

{% if project.card-image %}
{% assign card-image = project.card-image %}
{% else %}
{% assign card-image = "http://placeholder.pics/svg/400x300/3cb371-3cb371/3cb371-3cb371" %}
{% endif %}

{% if project.card-title %}
{% assign card-title = project.card-title %}
{% else %}
{% assign card-title = project.title %}
{% endif %}

<div class="card border-0 shadow h-100" style="min-width: 340px; padding: 0px 0px;">
    <div class="image-container" style="min-width: 340px;"> 
        <img class="card-img-top" style="padding: 0px;" src="{{ card-image }}" alt="" />
    </div>
    <div class="card-body" style="min-width: 300px; height: 60px;">
        <h4 class="card-title"> {{ card-title }}</h4>
    </div>
    <div class="card-footer">
        <a href="{{ proj-url }}" class="btn btn-primary">Learn More!</a>
    </div>
</div>