<h2> Apply to Participate! </h2>
<form action="{}" method="POST">
  <div class="form-group">
    <label for="inputName">Name</label>
    <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Enter your name">
  </div>
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Enter your email">
  </div>
  <div class="form-group">
    <label for="selectThrust">Hackathon Thrust Interest</label>
    <select class="form-control" id="selectThrust" name="selectThrust">
      <option value="">Select preference</option>
      <option value="materials">Materials Science </option>
      <option value="biology">Biology</option>
      <option value="compsci">Computational Science</option>
      <option value="pde">Partial Differential Equations</option>
    </select>
  </div>
  <div class="form-group">
    <label for="textAreaExperience">Experience</label>
    <textarea class="form-control" id="textAreaExperience" name="textAreaExperience" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>