<div style="width: 100%;">
    <ul class="schedule-table" style="margin-left: 0;">
        <li class="table-header">
            <div class="col col-date">Date</div>
            <div class="col col-agenda">Agenda</div>
        </li>

        {% for event in site.data.agenda %}
            {% if event.is_tutorial %}
            {% assign class = "table-row-tutorial" %}
            {% else %}
            {% assign class = "table-row-assignment" %}
            {% endif %}
            {% assign project = site.projects[page.project] %}
            {% assign project-title = project.link %}
            <li class="row table-row {{ class }}">
                {% include schedule_row_raw_event.html event=event %}
            </li>
        {% endfor %}

    </ul>
</div>