---
---

@charset "utf-8";

$theme-colors: (
  "primary": #00274C
);

// Width of the content area
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

.people {
    .role{
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        width: 100%;
    }
}


.person {
    width: 90%;
    max-width: 500px;
    margin-bottom: 10px;
    .profile {
        height: 100px
    }
    .person-name{
        font-weight: bold;
        margin: 0;
    }
}

// Ensure hyperlinks are readable on dark backgrounds
.text-white {
    a {
        color: #FFCB05

    }
}
// Change link color in paragraphs to be noticeable
p {
    a{
        color: #2F65A7;
    }
}
.news {
    a{
        color: #2F65A7;
    }
}


.sponsor-container {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 10px;
}

.sponsor-item {
    text-align: center;
    float: center;
    height: 100px;
}

.schedule-table {

    li {
        border-radius: 7px;
        padding: 14px 15px;
        display: flex;
        justify-content: space-between;
    }

    .raw_li {
        display: list-item !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .table-header {
        color: "primary";
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    .table-row {
        background-color: #ffffff;
        border-color: whitesmoke;
        border-width: 0.1em;
        border-style: solid;
        border-bottom: none;
    }

    .table-row-assignment {
        background-color: #d9edf7;
    }

    .col-date {
        text-align: left;
        padding: 2px;
        flex-grow: 0;
        width: 35%;
        min-width: 120px;
    }

    .col-agenda {
        text-align: left;
        padding: 2px;
        flex-grow: 1;
    }

   ul {
            margin-bottom: 0;
        }
    }

    .date-spliter {}

    @media all and (max-width: 767px) {
        .table-header {
            display: none;
        }

        .table-row {}

        li {
            display: block;
        }

        .col {

            flex-basis: 100%;

        }

        .col {
            display: block;
            padding: 10px 0;

            &:before {
                color: #6C7A89;
                padding-right: 10px;
                content: attr(data-label);
                width: 50%;
                text-align: right;
            }
        }

        // .col-1 {
        //     display: block;
        //     padding: 10px 0;

        //     &:before {
        //         content: none;
        //     }
        // }

        // .col-2 {
        //     text-align: left;
        // }
    }

// Make space between news articles nicer
div#news {
    .col-sm-10{
        margin-bottom: 10px;
    }
    .row{
        h5{
            margin-bottom: 0px;
        }
    }
}

.row#projects {
    justify-content: space-evenly;
}

.project-card {
    width: 25%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    .card-title {
        text-align: center;
    }
    .fcard-img-top{
         width: 400px;
         max-height: 200px;
    }
}

.row{
    img{
        max-width: 100%;
    }
}

//@import "bootstrap/bootstrap/bootstrap.css";
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/toasts";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/spinners";
@import "bootstrap/utilities";
@import "bootstrap/print";

@import "style", "custom";
