---
layout: default
---

{{ content }}

<div class="container mt-4">
    <div class="row justify-content-center" align-content="space-between">
    {% for p in site.projects %}
        <div class="col-md-4 mb-4 d-flex">
            {% include project-card.html project=p %}
        </div>
    {% endfor %}
    </div>
</div>

{% assign numposts = site.posts | size %}
{% if numposts >= 1 %}
<div id="news" class="container mb-5">
    <hr>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.news.front_page_limit %}
        {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    <p>
        <span class="fa fa-fw fa-history"></span>
        <a href="{{ site.baseurl }}/news.html">Older posts&hellip;</a>
    </p>
</div>
{% endif %}
