---
layout: default
---

{% assign numposts = site.posts | size %}
{% if numposts >= 1 %}
<div id="news" class="container mb-5">
    <hr>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.news.front_page_limit %}
        {% include news-item.html item=post %}
        <hr>
        {% endfor %}
    </ul>
    <p>
        <span class="fa fa-fw fa-history"></span>
        <a href="{{ site.baseurl }}/news.html">More News Posts &hellip;</a>
    </p>
</div>
{% endif %}

{{ content }}

<div class="container">
    <div class="row align-items-center">
    {% for p in site.projects %}
        <div class="col-md-6 mb-4 d-flex" style="padding: 0px; margin: 0px 0px 0px 0px;">
            {% include project-card.html project=p %}
        </div>
    {% endfor %}
    </div>
</div>