---
layout: default
---

{%- comment -%} Insert a hero figure at the top of the home page. Replace `vision.png` with the desired hero image. {%- endcomment -%}
<div class="container mb-4 hero-figure">
    <figure style="margin:0; padding:0; text-align:center;">
        <img src="{% link assets/img/bigPic.png %}" alt="Hero figure" style="max-width:80%; height:auto;">
    </figure>
</div>

{{ content }}

<div class="container">
    <div class="row align-items-center">
    {% for p in site.projects %}
        <div class="col-md-6 mb-4 d-flex" style="padding: 0px; margin: 0px 0px 0px 0px;">
            {% include project-card.html project=p %}
        </div>
    {% endfor %}
    </div>
</div>